// Typography

// Font-family mixins
/// example:
/// @mixin font-display {
///   font-style: normal;
///   font-weight: normal;
///   font-family: 'Custom Font Family';
/// }

/// Mixin to allow us to concisely define all aspects of a paragraph style (except for family.)
/// @param {number} $size - Font size specified in pixels (without 'px')
/// @param {number} $lh - Line height specified in pixels (without 'px')
/// @param {number} $ls [0em] - Letter spacing
/// @param {number or string} $w [normal] - Font weight
/// @param {string} $tt [none] - Text transform
/// @example scss - Used as a shortcut in defining a paragraph style...
///   @mixin h1 {
///     @include font-display; // The font face
///     @include paragraph-style (12, 16, $ls: .075em, $tt: uppercase); // Other properties
///   }
@mixin paragraph-style ($size, $lh, $ls: 0em, $w: normal, $tt: none) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
  letter-spacing: $ls;
  text-transform: $tt;
  font-weight: $w;
}

// Type Style Mixins + Classes
/// example:
/// @mixin h1 {
///   @include font-display;
///   @include paragraph-style(31, 40, -.010322581em);
///   @include media-md {
///     @include paragraph-style(96, 96, -.005208333em);
///   }
/// }
/// .h1 {
///   @include h1;
/// }