@charset "UTF-8";

// Reset
@import "vendor/normalize";

// Helpers and Variables
@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/colors";
@import "helpers/typography";
@import "helpers/utility";
@import "helpers/grid";

// Vendor

// Components
@import "components/base";
@import "components/header";
@import "components/footer";

// Pages
@import "pages/home";