//base styles
*, *::before, *::after {
 box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	font-size: 16px; //Em base unit
	font-size: 100%;
}

p {
  font-size: 1em;
  line-height: 1.25em;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

// Utility classes
.visually-hidden { // http://a11yproject.com/posts/how-to-hide-content/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }
.hidden { // http://a11yproject.com/posts/how-to-hide-content/
  display: none;
  visibility: hidden;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1600px; // change to whatever 
  position: relative;
  @include clearfix();
  @include min-screen($bpMd) {
    // set breakpoints on a per-module basis when possible
  }
}