@use "../helpers/mixins";
@use "../helpers/variables";

//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: variables.color('black');
	background: variables.color('white');
}

a {
	color: inherit;
}

// Thanks @zachleat: https://www.zachleat.com/web/fluid-images/
img {
  max-width: 100%;
}
img[width] {
  width: auto;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 variables.$padding-sm;
  max-width: variables.$sitewrapper;
  @include mixins.media-md {
    padding: 0 variables.$padding-md;
  }
}

// Skip To Main Content
.skip-to-content {
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px;
  position: absolute;
  border: 3px solid blue;
  background: variables.color('white');
  transform: translateY(-100%);
  &:focus {
    transform: translateY(0%);
  }
}

// This allows js to determine breakpoint
#breakpoint-indicator {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::after {
    content: 'xs';
    @include mixins.media-sm {
      content: 'sm';
    }
    @include mixins.media-md {
      content: 'md';
    }
    @include mixins.media-lg {
      content: 'lg';
    }
    @include mixins.media-nav {
      content: 'nav';
    }
    @include mixins.media-xl {
      content: 'xl';
    }
  }
}