//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: color('black');
	background: color('white');
}

a {
	color: inherit;
}

// Thanks @zachleat: https://www.zachleat.com/web/fluid-images/
img {
  max-width: 100%;
}
img[width] {
  width: auto;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
}