// Variables

// Colors
$black: #444;
$white: #fff;

// Color classes
.black {color: $black}
.white {color: $white}

// Breakpoints
$bpSmall: 30em; // 480px
$bpMed: 43.75em; // 700px
$bpBig: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px
