//base styles
*, *::before, *::after {
 box-sizing: border-box;
}

html {

}

body {
	font-size: 16px; //Em base unit
	font-size: 100%;
	@include font-smoothing(antialiased);
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}