// Grid

$margin: 1em;
$padding: 1em;

.grid {
  width: 100%;
  display: flex;
}

.one-half-right, .two-thirds-right, .one-third-right, .one-third-middle, .one-fourth-right  {margin-top: $margin;}


@include min-screen($bpMd) {
  .flex-item {
    display: flex;
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}