// Variables

// Colors
$black: #444;
$white: #fff;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$bpSm: 30em; // 480px
$bpMd: 43.75em; // 700px
$bpLrg: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px
